:root {
  --mainColor: #8c43ff;
  --mainColor10: #f7f2ff;
  --mainColor30: #e6d7ff;
  --secondColor: #23218e;
  --secondColor10: #ececfa;
  --secondColor30: #c5c5f1;
  --thirdColor: #a792ff;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}
@font-face {
  font-family: madani;
  font-display: swap;
  src: url(../webfonts/madani.ttf);
}
* {
  font-family: "madani", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: ltr;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #272727;
}
::-webkit-scrollbar-thumb {
  background-color: #424242;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
body {
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  i {
    font-size: 16px;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
input {
  accent-color: var(--mainColor) !important;
}
.odometer-inside {
  direction: ltr !important;
}
.fancybox__container {
  z-index: 1999;
}
::placeholder {
  font-size: 12px;
  color: #bababa !important ;
  font-weight: normal !important;
}
::selection {
  background-color: var(--mainColor);
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: ltr;
}
.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}
.select2 {
  min-width: 100px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  right: 1px;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}
.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}
// .select2-container {
//   z-index: 1060;
// }
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}
.dropdown {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    padding-right: 24px;
    &::after {
      content: "\f107";
      font-family: "Font Awesome 6 Pro";
      border: none;
      vertical-align: middle;
      font-size: 12px;
      position: absolute;
      right: 8px;
      top: 55%;
      transform: translateY(-50%);
      color: var(--grayColor);
    }
    i {
      font-size: 14px;
      color: var(--mainColor);
    }
  }
  .dropdown-item {
    border-radius: 8px;
    padding: 8px 12px;
    &.active,
    &:active {
      background-color: var(--mainColor);
    }
  }
  .dropdown-menu {
    animation: fadeIn 0.3s;
    background-color: var(--whiteColor);
    border: none;
    padding: 8px;
    // box-shadow: 0px 4px 8px var(--mainColor10);
    border: 2px solid var(--mainColor30);
    z-index: 1022;
    flex-direction: column;
    gap: 4px;
    width: auto;
    min-width: 100px;
    transform: unset !important;
    .dropdown-item {
      font-size: 13px;
    }
    &.show {
      top: calc(100% + 10px) !important;
      display: flex;
      left: unset;
      right: 0;
    }
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: var(--whiteColor);
      position: absolute;
      top: -8px;
      right: 24px;
      transform: rotate(45deg);
      border-radius: 2px;
      z-index: -2;
      border: 2px solid var(--mainColor30);
    }
    &::after {
      content: "";
      width: calc(100% - 4px);
      height: 24px;
      background-color: var(--whiteColor);
      position: absolute;
      top: 0;
      z-index: -1;
      right: 2px;
      border-radius: 4px;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
button {
  border: none;
  background-color: transparent;
}
.form-control {
  min-height: 54px;
  &:focus {
    box-shadow: none;
  }
}
.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--whiteColor);
    transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      right: unset;
      left: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(-100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}
.preloader {
  background-color: var(--mainColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .preloaderImg {
    background-color: var(--thirdColor);
    width: 150px;
    height: 150px;
    mask-image: url("../img/logo.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      width: 160px;
      height: 160px;
      z-index: 2;
      background-color: var(--whiteColor);
      transform: translate(50%, -50%);
      animation: slide-up 1.5s forwards;
    }
    @keyframes slide-up {
      from {
        transform: translate(50%, 50%);
      }
      to {
        transform: translate(50%, -50%);
      }
    }
  }
}
body {
  background-color: var(--darkColor);
  position: relative;
  isolation: isolate;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -100;
  top: 0;
  left: 0;
  canvas {
    display: block;
  }
}
// header
header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  mix-blend-mode: difference !important;
  nav {
    width: min(100% - 24px, 1400px);
    display: flex;
    padding: 20px 0;
    align-items: center;
    gap: 12px;

    .logo {
      flex: 1;
      display: flex;
      transition: var(--transition);
      img {
        min-width: 120px;
        height: 80px;
        object-fit: contain;
        transition: var(--transition);
      }
    }
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 100%;
      transition: var(--transition);
      a {
        color: var(--whiteColor);
        padding: 12px 24px;
        text-transform: capitalize;
        white-space: nowrap;
        transition: var(--transition);
        &::selection {
          background-color: var(--darkColor);
        }
      }
      @media screen and (max-width: 1024px) {
        position: fixed;
        left: -100%;
        top: 0;
        width: 300px;
        height: 100%;
        flex-direction: column;
        background: #000;
        align-items: flex-start;
        z-index: -1;
        &.active {
        
          left: 0;
          
        }
      }
    }
    .menu {
      color: var(--whiteColor);
      text-transform: uppercase;
      display: none;
      gap: 8px;
      cursor: pointer;
      padding: 12px;
      transition: var(--transition);
      &::selection {
        background-color: var(--darkColor);
      }
      .icon {
        position: relative;
        display: flex;
        gap: 6px;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        transition: var(--transition);
        width: 30px;
        &::after,
        &::before {
          content: "";
          width: 30px;
          height: 2px;
          background-color: var(--whiteColor);
          display: flex;
          transition: var(--transition);
          position: absolute;
          margin-top: 8px;
        }
        &::after {
          width: 20px;
          margin-top: -8px;
        }
      }
      &.active {
        .icon {
          &::after,
          &::before {
            position: absolute;
            transform: rotate(45deg);
            width: 30px;
            margin-top: 0px;
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
      @media screen and (max-width: 1024px) {
        display: flex;
      }
    }
    .language {
      padding: 12px;
      a {
        color: var(--whiteColor);
        &::selection {
          background-color: var(--darkColor);
        }
      }
    }
  }
}
