:root {
  --mainColor: #8c43ff;
  --mainColor10: #f7f2ff;
  --mainColor30: #e6d7ff;
  --secondColor: #23218e;
  --secondColor10: #ececfa;
  --secondColor30: #c5c5f1;
  --thirdColor: #a792ff;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: madani;
  font-display: swap;
  src: url(../webfonts/madani.ttf);
}
* {
  font-family: "madani", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: ltr;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn i {
  font-size: 16px;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: ltr;
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 1px;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--mainColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-right: 24px;
}
.dropdown .dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  border: none;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 55%;
  transform: translateY(-50%);
  color: var(--grayColor);
}
.dropdown .dropdown-toggle i {
  font-size: 14px;
  color: var(--mainColor);
}
.dropdown .dropdown-item {
  padding: 8px 12px;
}
.dropdown .dropdown-item.active, .dropdown .dropdown-item:active {
  background-color: var(--mainColor);
}
.dropdown .dropdown-menu {
  animation: fadeIn 0.3s;
  background-color: var(--whiteColor);
  border: none;
  padding: 8px;
  border: 2px solid var(--mainColor30);
  z-index: 1022;
  flex-direction: column;
  gap: 4px;
  width: auto;
  min-width: 100px;
  transform: unset !important;
}
.dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
}
.dropdown .dropdown-menu.show {
  top: calc(100% + 10px) !important;
  display: flex;
  left: unset;
  right: 0;
}
.dropdown .dropdown-menu::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--whiteColor);
  position: absolute;
  top: -8px;
  right: 24px;
  transform: rotate(45deg);
  z-index: -2;
  border: 2px solid var(--mainColor30);
}
.dropdown .dropdown-menu::after {
  content: "";
  width: calc(100% - 4px);
  height: 24px;
  background-color: var(--whiteColor);
  position: absolute;
  top: 0;
  z-index: -1;
  right: 2px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  min-height: 54px;
}
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

.lazyDiv {
  position: relative;
  overflow: hidden;
}
.lazyDiv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0%);
}
.lazyDiv.oppositeDir::after {
  right: unset;
  left: 0;
}
.lazyDiv .lazy {
  position: relative;
  z-index: 1;
  width: 100%;
}
.lazyDiv.loaded::after {
  transform: translateX(100%);
}
.lazyDiv.loaded.oppositeDir::after {
  transform: translateX(-100%);
}
.lazyDiv.loaded.down::after {
  transform: translateY(100%);
}
.lazyDiv.loaded.up::after {
  transform: translateY(-100%);
}

.preloader {
  background-color: var(--darkColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  background-color: var(--whiteColor);
  width: 150px;
  height: 150px;
  -webkit-mask-image: url("../img/logo.svg");
          mask-image: url("../img/logo.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg {
    width: 100px;
    height: 100px;
  }
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 160px;
  height: 160px;
  z-index: 2;
  background-color: var(--thirdColor);
  transform: translate(50%, -50%);
  animation: slide-up 1.5s forwards;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg::after {
    width: 110px;
    height: 110px;
  }
}
@keyframes slide-up {
  from {
    transform: translate(50%, 50%);
  }
  to {
    transform: translate(50%, -50%);
  }
}

body {
  background-color: var(--darkColor);
  position: relative;
  isolation: isolate;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -100;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: background 0.3s ease-in-out;
  background-color: transparent;
}
@media (max-width: 1200px) {
  header {
    background-color: rgba(31, 31, 31, 0.5019607843);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
header nav {
  width: min(100% - 48px, 1360px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 16px 0;
  gap: 8px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 60px;
  transition: var(--transition);
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1200px) {
  header nav .logo img {
    height: 40px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6px;
  transition: var(--transition);
  align-items: center;
}
header nav .navMenu .navLink {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  color: var(--whiteColor);
  min-width: 72px;
  justify-content: center;
  text-transform: capitalize;
}
header nav .navMenu .navLink.active, header nav .navMenu .navLink:hover {
  color: var(--thirdColor);
}
header nav .navMenu .navLink.lang {
  margin-left: auto;
}
header nav .navMenu .navLink:first-child {
  margin-left: auto;
}
@media (max-width: 1200px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    left: -100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 100px 20px 40px;
    flex-direction: column;
    justify-content: start;
    background-color: var(--darkColor);
    align-items: start;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
  }
  header nav .navMenu .navLink.lang {
    margin-left: unset !important;
  }
  header nav .navMenu .navLink:first-child {
    margin-left: unset !important;
  }
}
header nav .navMenu.active {
  left: 0;
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--whiteColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 1200px) {
  header nav .navBtn {
    display: none;
  }
}
@media (min-width: 1200px) {
  header .hideLg {
    display: none !important;
  }
}
header .more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .more .linksBtn {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  transition: var(--transition);
  min-width: 30px;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--whiteColor);
  text-transform: uppercase;
}
header .more .linksBtn i {
  color: var(--thirdColor);
}
header .more .linksMenu {
  position: absolute;
  right: 0%;
  top: calc(100% + 100px);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2509803922);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  width: 100%;
}
header .more .linksMenu a {
  white-space: nowrap;
  color: var(--whiteColor);
}
header .more .linksMenu.show {
  top: calc(100% + 8px);
  opacity: 1;
  visibility: visible;
}

.headerAnimate {
  padding: 0 5px;
  background-color: rgba(31, 31, 31, 0.5019607843);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.headerAnimate .logo {
  padding: 5px;
}

.Vtext {
  position: absolute;
  top: 50%;
  left: 4px;
  color: var(--whiteColor);
  writing-mode: vertical-rl;
  height: auto;
  transform: translateY(-50%) rotate(180deg);
  height: 100%;
  display: flex;
  justify-content: center;
}
.Vtext::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: var(--grayColor);
  z-index: -2;
}
.Vtext span {
  padding: 20px 0;
  background-color: rgba(31, 31, 31, 0);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
@media (max-width: 1200px) {
  .Vtext span {
    font-size: 12px;
  }
}
.Vtext.side {
  left: unset;
  right: 4px;
  transform: translateY(-50%);
}
.Vtext.side::before {
  right: 12px;
  left: unset;
}

.socialMedia {
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  padding: 8px;
}
.socialMedia a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayColor);
  color: var(--grayColor);
  border-radius: 100px;
  transition: var(--transition);
}
.socialMedia a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-4px);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1882352941);
}

.swiperControl {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
}
@media (max-width: 1200px) {
  .swiperControl {
    position: relative;
  }
}
.swiperControl .swiperBtns {
  display: flex;
  gap: 8px;
}
.swiperControl .swiperBtns .swiper-button-next,
.swiperControl .swiperBtns .swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  width: 40px;
  height: 40px;
  border: 1px solid var(--whiteColor);
  border-radius: 100%;
  transition: var(--transition);
  opacity: 0.8;
}
.swiperControl .swiperBtns .swiper-button-next::after,
.swiperControl .swiperBtns .swiper-button-prev::after {
  font-size: 32px;
  font-family: "Font Awesome 6 Pro";
  font-weight: 200;
}
@media (max-width: 768px) {
  .swiperControl .swiperBtns .swiper-button-next::after,
  .swiperControl .swiperBtns .swiper-button-prev::after {
    font-size: 24px;
  }
}
.swiperControl .swiperBtns .swiper-button-next:hover,
.swiperControl .swiperBtns .swiper-button-prev:hover {
  opacity: 1;
  background-color: white;
  color: var(--secondColor);
}
.swiperControl .swiperBtns .swiper-button-next.swiper-button-disabled,
.swiperControl .swiperBtns .swiper-button-prev.swiper-button-disabled {
  opacity: 0.2;
}
.swiperControl .swiperBtns .swiper-button-next {
  left: unset;
}
.swiperControl .swiperBtns .swiper-button-next::after {
  content: "\f105" !important;
}
.swiperControl .swiperBtns .swiper-button-prev::after {
  content: "\f105" !important;
  transform: scaleX(-1);
}
.swiperControl .swiper-pagination {
  position: relative;
  min-height: 16px;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  transition: var(--transition);
  border-radius: 16px;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

.mainSection {
  position: relative;
  display: flex;
  justify-content: center;
}
.mainSection .inner {
  width: min(100% - 0px, 1360px);
  display: flex;
  flex-direction: column;
  padding: 80px 28px 0px;
  position: relative;
  gap: 48px;
}
@media (max-width: 1200px) {
  .mainSection .inner {
    padding: 40px 28px 0px;
  }
}
.mainSection .inner .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainSection .inner .head .title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--whiteColor);
  font-size: 60px;
  text-align: center;
}
@media (max-width: 1200px) {
  .mainSection .inner .head .title {
    font-size: 35px;
  }
}
.mainSection .inner .head .hint {
  color: #d6d6d6;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 14px;
  text-align: center;
}
@media (max-width: 1200px) {
  .mainSection .inner .head .hint {
    font-size: 12px;
    letter-spacing: 8px;
  }
}
.mainSection .videoSlider {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .mainSection .videoSlider {
    padding-bottom: 60px;
  }
}
.mainSection .videoSlider .videoSliderContainer {
  width: 100%;
  height: 100%;
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  aspect-ratio: 2/1;
}
@media (max-width: 1200px) {
  .mainSection .videoSlider .videoSliderContainer .swiper-slide {
    flex-direction: column;
    align-items: start;
  }
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .mainSection .videoSlider .videoSliderContainer .swiper-slide video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: unset;
    top: unset;
  }
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(31, 31, 31, 0.1568627451), rgba(31, 31, 31, 0.7176470588), #1f1f1f);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide .info {
  width: min(100% - 40px, 600px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  padding-bottom: 60px;
}
@media (max-width: 1200px) {
  .mainSection .videoSlider .videoSliderContainer .swiper-slide .info {
    padding: 12px;
  }
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide .info .sliderTitle {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 45px !important;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .mainSection .videoSlider .videoSliderContainer .swiper-slide .info .sliderTitle {
    font-size: 22px !important;
  }
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide .info .hint {
  color: var(--lightGrayColor);
}
@media (max-width: 768px) {
  .mainSection .videoSlider .videoSliderContainer .swiper-slide .info .hint {
    font-size: 12px !important;
  }
}
.mainSection .videoSlider .videoSliderContainer .swiper-slide .info a {
  margin-top: 30px;
}
.mainSection .videoSlider .swiper-slide-active .sliderTitle {
  animation: fadeInUp 1s 0s both;
}
.mainSection .videoSlider .swiper-slide-active .hint {
  animation: fadeInUp 1s 0.75s both;
}
.mainSection .videoSlider .swiper-slide-active a {
  animation: fadeInUp 1s 1.5s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.mainSection::after {
  content: "";
  width: 1px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 100%;
  z-index: -2;
  background-color: rgba(140, 67, 255, 0.1882352941);
  box-shadow: 0px 0px 100vw 300px rgba(140, 67, 255, 0.5019607843);
}

.animatedLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  transition: var(--transition);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background: none;
  isolation: isolate;
  text-transform: capitalize;
}
.animatedLink i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: width 0.3s ease-in-out;
}
.animatedLink i span {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border: 1px solid var(--mainColor);
  border-radius: 100px;
  transition: var(--transition);
}
.animatedLink:hover {
  padding: 0 20px;
  color: var(--whiteColor);
}
.animatedLink:hover i {
  width: 20px;
}
.animatedLink:hover i span {
  width: 100%;
  border: 1px solid var(--darkColor);
  background-color: var(--darkColor);
}
.animatedLink.white {
  color: var(--whiteColor);
}
.animatedLink.white i span {
  border: 1px solid var(--whiteColor);
}
.animatedLink.white:hover i span {
  border: 1px solid var(--darkColor);
  background-color: var(--darkColor);
}

.blogs {
  padding: 120px 0;
}
.blogs .sectionTitle {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  padding-bottom: 48px;
}
.blogs .sectionTitle h2 {
  color: var(--whiteColor);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}
.blogs .sectionTitle h2 span {
  color: var(--mainColor);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 4px;
}
.blogs .sectionTitle h2 span::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--mainColor);
}
.blogs .sectionTitle h2 span::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--mainColor);
}
.blogs .blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: var(--transition);
}
.blogs .blog img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.blogs .blog .data {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.blogs .blog .date {
  font-style: italic;
  color: var(--grayColor);
  display: flex;
  gap: 8px;
  align-items: center;
  transition: var(--transition);
}
.blogs .blog .date i {
  color: var(--grayColor);
  font-size: 16px;
  font-style: italic;
  transition: var(--transition);
}
.blogs .blog .title {
  color: var(--lightGrayColor);
  transition: var(--transition);
}
.blogs .blog .description {
  color: var(--grayColor);
}
.blogs .blog:hover {
  transform: translateY(-5px);
}
.blogs .blog:hover .title {
  color: var(--mainColor);
}
.blogs .blog:hover .date {
  color: var(--whiteColor);
}
.blogs .blog:hover .date i {
  color: var(--whiteColor);
}
.blogs .swiperControl {
  position: relative;
}
.blogs .swiperControl .swiper-pagination {
  justify-content: center;
}/*# sourceMappingURL=style.css.map */